---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
IncludeCategories: 
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    SortPriority: 0
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 3
    SortPriority: 0
  - Regex: '.*'
    Priority: 1
    SortPriority: 0
IncludeIsMainRegex: '(Test)?$'
MacroBlockBegin: ''
MacroBlockEnd: ''
...
